* {margin:0;padding:0;}
body{
    width:100%;
    height:100%;
    font-family:Arial, Helvetica, sans-serif; 
    font-size:12px;
    background: #fff url(../img/banner.jpg)  no-repeat fixed ;
    background-size: 100%; 
}
a {text-decoration: none; cursor: pointer}
ul {list-style: none;}

.nav {
    width: 100%;
    height: 100px;
    background-color:#333;
    position: fixed;
    top: 0;
}

.nav_off {
    width: 100%;
    height: 60px;
    background-color:#333;
    position: fixed;
    top: 0;
}

.logo {
    float: left;
    width: 150px;
    height: 100px;
    background-image: url(../img/logo.jpg);
    background-size: 150px 100px;
}
.logo_off {
    float: left;
    width: 100px;
    height: 60px;
    background-image: url(../img/logo.jpg);
    background-size: 100px 60px;
}

.nav img {
    height: 100px;
}

.nav_main {
    float: right;
}
.nav ul {
    margin-right: 30px;
}
.nav ul li {
    float: left;
    border-right: 1px solid #fff;
    border-radius: 0 5px 0 0;
    width: 110px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    margin-top: 10px;
}
.nav ul li a {
    display: block;
    height: 90px;
    color:#fff;
    font-size: 14px;
}
.nav ul li a:hover {
    background-color: #fff;
    color: #333;
}

#content_page {
    position: fixed;
  }
  .content_page_on {
    margin: 3% 5%;
    z-index: 101;
    width: 90%;
    height: 90%;
    background-color:#fff;
    border: 1px solid black;
  }
  .content_page_off {
    width: 0%;
    height: 0%;
  }

  #close {
    position: fixed;
  }
  .close_on {
    z-index: 104;
    top: 5.7%;
    right: 4.8%;
    width: 25px;
    height: 25px;
    border: 1px solid #000;
    border-radius: 3px;
    cursor: pointer;
    background: url(../img/close.png) no-repeat center #fff;
  }
  .close_off {
    width: 0%;
    height: 0%;
  }

.banner {
    width: 100%;
    height: 600px;
}
.main {
    background-color: #eee;
    width: 100%;
    height: auto;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
    overflow:auto
}
.main .left, .middle, .right {
    background-color: #fff;
    width: 31%;
    border-radius: 10px;
}
.main_title {
    width: 100%;
    height: 150px;
    text-align: center;

}
.main_title img {
    height: 80px;
    margin-top: 20px
}
.main_title p {
    color: #555555;
    font: 20px bold;
}
.main_content {
    width: 85%;
    height: 110px;
    margin: 0 auto;
    font-size: 15px;
    color: #777;
    line-height: 200%;
}
.main_more {
    float: right;
}

footer {
    background-color: #333;
    width: 100%;
    height: 120px;
    text-align: center;
    line-height: 120px;
    color: #fff;
}



